body{
	background-image: url("./images/bg.png");
	background-size: 100%;
}
#btn {
	margin: 5px 5px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}
#btn:Hover{
	background-color: blue;
}
h1{
	font-family: 'Ravi Prakash', cursive;
	font-size: 50px;

}
img{
	height: 150px;
	width:100px;
}
#Giphy{
	font-size: 20px;
	float: left;
	margin: 20px 10px 10px 10px;
}
#addButton{
	margin-top: 10px;
	width: 50%;
}
#giphyDiv{
	margin-top: 120px;
}